## Tasks

In [2]:
import pandas as pd

1. Load the the dataset located at `dataset/student-por.csv` as a `pandas` dataframe.

In [5]:
dataset_orig = pd.read_csv("dataset/student-por.csv", delimiter=';')

In [7]:
dataset_orig.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
dataset_orig['sex']

0      F
1      F
2      F
3      F
4      F
      ..
644    F
645    F
646    F
647    M
648    M
Name: sex, Length: 649, dtype: object

In [9]:
#protected class
dataset_orig['sex'] = dataset_orig['sex'].map({'F': 0, 'M': 1})  # Map 'F' to 0 and 'M' to 1

In [10]:
dataset_orig['sex']

0      0
1      0
2      0
3      0
4      0
      ..
644    0
645    0
646    0
647    1
648    1
Name: sex, Length: 649, dtype: int64

In [12]:
dataset_orig['G1'].describe()

count    649.000000
mean      11.399076
std        2.745265
min        0.000000
25%       10.000000
50%       11.000000
75%       13.000000
max       19.000000
Name: G1, dtype: float64

In [13]:
dataset_orig['G1']

0       0
1       9
2      12
3      14
4      11
       ..
644    10
645    15
646    11
647    10
648    10
Name: G1, Length: 649, dtype: int64

In [14]:
# Convert 'G1' column to binary labels
dataset_orig['G1'] = dataset_orig['G1'].apply(lambda x: 1 if x >= 12 else 0)

In [15]:
dataset_orig['G1']

0      0
1      0
2      1
3      1
4      0
      ..
644    0
645    1
646    0
647    0
648    0
Name: G1, Length: 649, dtype: int64

In [16]:
# One-hot encode categorical features
categorical_features = ['school', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian',
                        'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 
                        'romantic']

In [18]:
dataset_orig.head(n=6)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,0,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,0,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,0,11,11
2,GP,0,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,1,13,12
3,GP,0,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,1,14,14
4,GP,0,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,0,13,13
5,GP,1,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,1,12,13

In [19]:
#Instead of the following, use scikitlearn/OneHotEncoder so that you can save the encoder
dataset_orig = pd.get_dummies(dataset_orig, columns=categorical_features)

In [20]:
dataset_orig.head(n=6)

,sex,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,0,18,4,4,2,2,0,4,3,4,...,True,False,False,True,False,True,True,False,True,False
1,0,17,1,1,1,2,0,5,3,3,...,True,False,True,False,False,True,False,True,True,False
2,0,15,1,1,1,2,0,4,3,2,...,True,False,False,True,False,True,False,True,True,False
3,0,15,4,2,1,3,0,3,2,2,...,False,True,False,True,False,True,False,True,False,True
4,0,16,3,3,1,2,0,4,3,2,...,True,False,False,True,False,True,True,False,True,False
5,1,16,4,3,1,2,0,5,4,2,...,False,True,False,True,False,True,False,True,True,False

2. Use `aif360.datasets.StandardDataset` class to create the aif360 dataset representing the `student-por.csv` data

In [21]:
import pandas as pd
from aif360.datasets import StandardDataset
# dataset_orig = load_preproc_data_adult()
# dataset_orig = pd.read_csv("./bank-additional-full.csv")

protected_attribute_names = ['sex']
privileged_classes = [[1]]  # Male as privileged class
unprivileged_classes = [[0]]  # Female as unprivileged class
label_names = 'G1'
favorable_classes = [1]  # Positive outcome

In [22]:
dataset_orig = StandardDataset(
    df=dataset_orig,
    label_name=label_names,
    favorable_classes=favorable_classes,
    protected_attribute_names=protected_attribute_names,
    privileged_classes=privileged_classes,
)

In [24]:
from aif360.metrics import BinaryLabelDatasetMetric

WARNING:root:No module named 'tensorflow': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'
WARNING:root:No module named 'tensorflow': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'
WARNING:root:No module named 'fairlearn': ExponentiatedGradientReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'inFairness': SenSeI and SenSR will be unavailable. To install, run:
pip install 'aif360[inFairness]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'

In [25]:
metric_orig_train = BinaryLabelDatasetMetric(dataset_orig, 
                                             unprivileged_groups=unprivileged_classes,
                                             privileged_groups=privileged_classes)

AttributeError: 'list' object has no attribute 'items'

In [ ]:
logger.info(f'Measures of bias on the Original training dataset')
logger.info(f"Difference in mean outcomes between unprivileged and privileged groups = {metric_orig_train.mean_difference():.4f}")
logger.info(f'SPD = {metric_orig_train.statistical_parity_difference():.4f}')
logger.info(f'DI = {metric_orig_train.disparate_impact():.4f}')

3. Do some fairness assessments on the dataset

3.